//Translation 2.0.0
#include "Placeholders.hpp"

//English US
LANGUAGE 0x09, 0x01
STRINGTABLE
BEGIN
APP_TITLE "About Windows"
TEXT_BODY "Microsoft %s %s\nNT Version %s (OS build %s)\n%c Microsoft Corporation. All rights reserved.\n\nThe %s operating system and its user interface are protected by trademark and other pending or existing intellectual property rights in the United States and other countries/regions.\n\n\n\nProduct licensed to:\n%s"
BETTERWINVER_ABOUT "About BetterWinver"
BETTERWINVER_VERSION "Version: %s"
BETTERWINVER_CREATOR "Created by NMattyy"
END

//Italian
LANGUAGE 0x10, 0x01
STRINGTABLE
BEGIN
APP_TITLE "Informazioni su Windows"
TEXT_BODY "Microsoft %s %s\nVersione NT %s (build SO %s)\n%c Microsoft Corporation. Tutti i diritti riservati.\n\nIl sistema operativo %s e la relativa interfaccia utente sono protetti da marchi e da altri diritti di proprietà intellettuale in corso di registrazione o registrati negli Stati Uniti e/o negli altri paesi o aree geografiche.\n\n\n\nProdotto concesso in licenza a:\n%s"
BETTERWINVER_ABOUT "Informazioni su BetterWinver"
BETTERWINVER_VERSION "Versione: %s"
BETTERWINVER_CREATOR "Creato da NMattyy"
END